<?xml version="1.0"?>
<config>
    <modules>
        <Stuntcoders_Slideshow>
            <version>0.2.0</version>
        </Stuntcoders_Slideshow>
    </modules>
    <global>
        <models>
            <stuntcoders_slideshow>
                <class>Stuntcoders_Slideshow_Model</class>
                <resourceModel>stuntcoders_slideshow_resource</resourceModel>
            </stuntcoders_slideshow>
            <stuntcoders_slideshow_resource>
                <class>Stuntcoders_Slideshow_Model_Resource</class>
                <entities>
                    <slideshow>
                        <table>stuntcoders_slideshow</table>
                    </slideshow>
                    <slideshow_image>
                        <table>stuntcoders_slideshow_image</table>
                    </slideshow_image>
                </entities>
            </stuntcoders_slideshow_resource>
        </models>
        <blocks>
            <stuntcoders_slideshow>
                <class>Stuntcoders_Slideshow_Block</class>
            </stuntcoders_slideshow>
        </blocks>
        <helpers>
            <stuntcoders_slideshow>
                <class>Stuntcoders_Slideshow_Helper</class>
            </stuntcoders_slideshow>
        </helpers>
        <resources>
            <stuntcoders_slideshow_setup>
                <setup>
                    <module>Stuntcoders_Slideshow</module>
                </setup>
            </stuntcoders_slideshow_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <stuntcoders_slideshow>
                    <file>stuntcoders/slideshow.xml</file>
                </stuntcoders_slideshow>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <cms>
                            <children>
                                <slideshow translate="title" module="stuntcoders_slideshow">
                                    <title>Slideshow</title>
                                </slideshow>
                            </children>
                        </cms>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <cms>
                <children>
                    <slideshow translate="title" module="stuntcoders_slideshow">
                        <title>Slideshow</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/slideshow/index</action>
                    </slideshow>
                </children>
            </cms>
        </menu>
        <layout>
            <updates>
                <stuntcoders_slideshow>
                    <file>stuntcoders/slideshow.xml</file>
                </stuntcoders_slideshow>
            </updates>
        </layout>
        <translate>
            <modules>
                <Stuntcoders_Slideshow>
                    <files>
                        <default>Stuntcoders_Slideshow.csv</default>
                    </files>
                </Stuntcoders_Slideshow>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Stuntcoders_Slideshow before="Mage_Adminhtml">Stuntcoders_Slideshow_Adminhtml</Stuntcoders_Slideshow>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
